<?php


define("EPII",1);

define('FM_ROOT_PATH', "/Volumes/BOOTCAMP/php/");

$auth_users = array(
    'admin' => password_hash("123456", PASSWORD_DEFAULT)

);
require_once __DIR__ . "/tinyfilemanager.php";

